{% extends 'base.html' %}
{% block content %}
<h2>Books</h2>
<form method="get">
    {{ search_form.query.label_tag }}
    {{ search_form.query }}
    <button type="submit">Search</button>
</form>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Book</button>
</form>

<h3>All Books</h3>
<ul>
    {% for book in books %}
        <li>{{ book.title }} ({{ book.category }}) - {{ book.available_copies }}/{{ book.total_copies }}</li>
    {% endfor %}
</ul>
{% endblock %}
