<style>

</style>
{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 style="padding: 15px; text-align: center;">Members</h2>
          <form method="get">
            <div class="text-center">
              {{ search_form.query.label_tag }} {{ search_form.query }}
            <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </form>

          <form method="post">
           <div class="text-center"> {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Member</button></div><hr><br>
          </form>

          <h3 style="padding: 15px;">All Members</h3>
          <ul>
            {% for member in members %}
            <li>{{ member.name }} - {{ member.email }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
